force-app/main/default/flows/Opportunity_auto_deep_clone_close_win_lost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Line_item_to_collection</name>
        <label>Assign Line item to collection</label>
        <locationX>264</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>VarnewlineitemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Varnewlineitem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_line_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_opp_team_values_to_collection</name>
        <label>Assign opp team values to collection</label>
        <locationX>264</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>VarnewoppteamCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Varnewoppteam</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Opp_team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_contact_role_collection</name>
        <label>Assign values to contact role collection</label>
        <locationX>264</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>VarnewcontactRoleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarnewcontactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Opp_contact_role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_Var_contact_role</name>
        <label>Assign values to Var contact role</label>
        <locationX>264</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>VarnewcontactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_clone_Opp_records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarnewcontactRole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opp_contact_role.Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarnewcontactRole.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opp_contact_role.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarnewcontactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opp_contact_role.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarnewcontactRole.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opp_contact_role.IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_to_contact_role_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_Var_revenue_Subrange</name>
        <label>Assign values to Var revenue Subrange</label>
        <locationX>264</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>VarnewSubRange.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_clone_Opp_records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarnewSubRange.BU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Revenue_Sub_Range.BU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarnewSubRange.Range2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Revenue_Sub_Range.Range2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarnewSubRange.Sub_Range2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Revenue_Sub_Range.Sub_Range2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarnewSubRange.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Revenue_Sub_Range.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarnewSubRange.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Revenue_Sub_Range.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigne_subRange_Values_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_var</name>
        <label>Assign value to Opp team</label>
        <locationX>264</locationX>
        <locationY>2003</locationY>
        <assignmentItems>
            <assignToReference>Varnewoppteam.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_clone_Opp_records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Varnewoppteam.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opp_team.TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Varnewoppteam.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opp_team.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Varnewoppteam.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Opp_team.OpportunityAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_opp_team_values_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigne_new_values_to_Lineitem</name>
        <label>Assigne new values to Lineitem</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Varnewlineitem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_clone_Opp_records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Varnewlineitem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_line_item.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Varnewlineitem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_line_item.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Varnewlineitem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_line_item.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Varnewlineitem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_line_item.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Varnewlineitem.ProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_line_item.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Varnewlineitem.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Varnewlineitem.Current_Year_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_line_item.Current_Year_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Varnewlineitem.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_line_item.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Line_item_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigne_subRange_Values_to_collection</name>
        <label>Assigne subRange Values to collection</label>
        <locationX>264</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>VarnewSubRangeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarnewSubRange</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Revenue_Sub_Range</targetReference>
        </connector>
    </assignments>
    <description>Update Julien le 10/10/2023- W-000245 : Opportunity : Estimated new contract date
Update le 22/11/23- W-000255 : Pas déclenché si Estimated new contract date null</description>
    <environments>Default</environments>
    <formulas>
        <name>NewOpportCloseDate</name>
        <dataType>Date</dataType>
        <expression>IF(
ISBLANK({!Get_Opportunity_record.Estimated_new_contract_date__c}),
TODAY()+10,
{!Get_Opportunity_record.Estimated_new_contract_date__c}
)</expression>
    </formulas>
    <interviewLabel>Opportunity_auto_deep_clone_close_win_lost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_auto_deep_clone_close_win_lost</label>
    <loops>
        <name>Loop_through_line_item</name>
        <label>Loop through line item</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Opp_Line_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assigne_new_values_to_Lineitem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_line_item_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Opp_contact_role</name>
        <label>Loop through Opp contact role</label>
        <locationX>176</locationX>
        <locationY>2519</locationY>
        <collectionReference>Get_Contact_role_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_Var_contact_role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_contact_role_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Opp_team</name>
        <label>Loop through Opp team</label>
        <locationX>176</locationX>
        <locationY>1895</locationY>
        <collectionReference>GetOppteam_record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_opp_team_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Revenue_Sub_Range</name>
        <label>Loop Through Revenue Sub Range</label>
        <locationX>176</locationX>
        <locationY>1271</locationY>
        <collectionReference>Get_subrange_revenue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_Var_revenue_Subrange</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Revenue_sub_range_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_clone_Opp_records</name>
        <label>Create clone Opp records</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Opp_Line_items</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Opportunity_record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancelled_Reason__c</field>
            <value>
                <elementReference>Get_Opportunity_record.Cancelled_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>NewOpportCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment_Reason__c</field>
            <value>
                <elementReference>Get_Opportunity_record.Comment_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_Product__c</field>
            <value>
                <elementReference>Get_Opportunity_record.Competitor_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_price__c</field>
            <value>
                <elementReference>Get_Opportunity_record.Competitor_price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comptetitor_Name__c</field>
            <value>
                <elementReference>Get_Opportunity_record.Comptetitor_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_duration__c</field>
            <value>
                <elementReference>Get_Opportunity_record.Contract_duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_Opportunity_record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Coment__c</field>
            <value>
                <elementReference>Get_Opportunity_record.End_User_Coment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Installation_Date__c</field>
            <value>
                <elementReference>Get_Opportunity_record.Expected_Installation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GOS__c</field>
            <value>
                <elementReference>Get_Opportunity_record.GOS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indirect_End_User__c</field>
            <value>
                <elementReference>Get_Opportunity_record.Indirect_End_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Type__c</field>
            <value>
                <elementReference>Get_Opportunity_record.Invoice_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoicing_method__c</field>
            <value>
                <elementReference>Get_Opportunity_record.Invoicing_method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsCloned__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loss_Reason__c</field>
            <value>
                <elementReference>Get_Opportunity_record.Loss_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Must_Win_Deal__c</field>
            <value>
                <elementReference>Get_Opportunity_record.Must_Win_Deal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Opportunity_record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Get_Opportunity_record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability__c</field>
            <value>
                <elementReference>Get_Opportunity_record.Probability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refurbished__c</field>
            <value>
                <elementReference>Get_Opportunity_record.Refurbished__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Identification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Get_Opportunity_record.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_contact_role_records</name>
        <label>Create contact role records</label>
        <locationX>176</locationX>
        <locationY>2927</locationY>
        <inputReference>VarnewcontactRoleCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_line_item_record</name>
        <label>Create line item record</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Get_subrange_revenue</targetReference>
        </connector>
        <inputReference>VarnewlineitemCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_opp_team_records</name>
        <label>Create opp team records</label>
        <locationX>176</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>Get_Contact_role_records</targetReference>
        </connector>
        <inputReference>VarnewoppteamCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Revenue_sub_range_record</name>
        <label>Create Revenue sub range record</label>
        <locationX>176</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>GetOppteam_record</targetReference>
        </connector>
        <inputReference>VarnewSubRangeCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_role_records</name>
        <label>Get Contact role records</label>
        <locationX>176</locationX>
        <locationY>2411</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Opp_contact_role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Line_items</name>
        <label>Get Opp Line items</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_line_item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_record</name>
        <label>Get Opportunity record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_clone_Opp_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_subrange_revenue</name>
        <label>Get subrange revenue records</label>
        <locationX>176</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Revenue_Sub_Range</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Revenue_Sub_Range_detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOppteam_record</name>
        <label>GetOppteam record</label>
        <locationX>176</locationX>
        <locationY>1787</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Opp_team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_record</targetReference>
        </connector>
        <filterFormula>AND ( {!$User.Bypass_all_flow_trigger__c} = False , 
NOT INCLUDES({!$User.Bypass_Flow_Trigger__c}, &quot;Opportunity_auto_deep_clone_close_win_lost&quot;), 
ISCHANGED({!$Record.StageName}),
OR (
ISPICKVAL({!$Record.StageName}, &quot;Closed Won&quot;),
ISPICKVAL({!$Record.StageName}, &quot;Closed Lost&quot;)),
NOT(ISBLANK({!$Record.Estimated_new_contract_date__c})))</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarnewcontactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>VarnewcontactRoleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>Varnewlineitem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>VarnewlineitemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Varnewoppteam</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>VarnewoppteamCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>VarnewSubRange</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Revenue_Sub_Range_detail__c</objectType>
    </variables>
    <variables>
        <name>VarnewSubRangeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Revenue_Sub_Range_detail__c</objectType>
    </variables>
    <variables>
        <name>VarOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
