force-app/main/default/flows/Opportunity_Price_books_linked_to_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_pricebook_values_to_collection</name>
        <label>Assign pricebook values to collection</label>
        <locationX>490</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>varpricebookcoll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varnewpricebook</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_pricebooks_to_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_pricebook_values_to_collection2</name>
        <label>Assign pricebook values to collection</label>
        <locationX>138</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>varpricebookcoll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varnewpricebook</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sort_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_pricebook</name>
        <label>Assign Values to pricebook</label>
        <locationX>490</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varnewpricebook.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOQL_Pricebook_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewpricebook.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricebookNameFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_pricebook_values_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_pricebook2</name>
        <label>Assign Values to pricebook</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>varnewpricebook.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SOQL_Pricebook_record2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewpricebook.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricebook2NameFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_pricebook_values_to_collection2</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>sort_collection</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sort collection</label>
        <locationX>138</locationX>
        <locationY>1358</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>varpricebookcoll</collectionReference>
        <connector>
            <targetReference>Loop_through_pricebooks_to_account2</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Name</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Has_products</name>
        <label>Has products</label>
        <locationX>226</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_pricebook_to_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpp.HasOpportunityLineItem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>inform_to_delete_products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Collectionofpricebooks</name>
        <collectionReference>varpricebookcoll</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Pricebook2</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Standardpricebookchoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>pricebook2NameFormula</name>
        <dataType>String</dataType>
        <expression>				IF (
				 {!Loop_through_pricebooks_to_account2.Account__c} = {!GetOpp.Account.Id} , {!SOQL_Pricebook_record.Name}, 
				IF ( 
{!Loop_through_pricebooks_to_account2.Account__c} = {!GetOpp.Account.ParentId} , (&quot;Parent &quot; &amp; {!SOQL_Pricebook_record.Name}),
				IF(
{!Loop_through_pricebooks_to_account2.Account__c}={!GetOpp.Account.Groupement__c}, (&quot;Groupement &quot; &amp; {!SOQL_Pricebook_record.Name}),&quot;&quot;)

 )
				
				
)</expression>
    </formulas>
    <formulas>
        <name>pricebookNameFormula</name>
        <dataType>String</dataType>
        <expression>				IF (
				 {!Loop_through_pricebooks_to_account.Account__c} = {!GetOpp.Account.Id} , {!SOQL_Pricebook_record.Name}, 
				IF ( 
				

(NOT(ISNULL({!GetOpp.Account.ParentId}
)))&amp;&amp;({!Loop_through_pricebooks_to_account.Account__c} = {!GetOpp.Account.ParentId}) , (&quot;Parent &quot; &amp; {!SOQL_Pricebook_record.Name}),
				IF(
{!Loop_through_pricebooks_to_account.Account__c}={!GetOpp.Account.Groupement__c}, (&quot;Groupement &quot; &amp; {!SOQL_Pricebook_record.Name}),&quot;&quot;)

 )
				
				
)</expression>
    </formulas>
    <interviewLabel>Price books_To_Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_Price books linked to_Account</label>
    <loops>
        <name>Loop_through_pricebooks_to_account</name>
        <label>Loop through pricebooks to account</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_pricebook_to_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SOQL_Pricebook_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pricebook_selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_pricebooks_to_account2</name>
        <label>Loop through pricebooks to account</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <collectionReference>Get_pricebook_to_Accounts2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SOQL_Pricebook_record2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pricebook_selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_opp_line_items</name>
        <label>Delete opp line items</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Get_pricebook_to_Accounts2</targetReference>
        </connector>
        <inputReference>Get_Opp_Line_Items</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Opp_Line_Items</name>
        <label>Get Opp Line Items</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_opp_line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_price_Book_record_selected</name>
        <label>Get price Book record selected</label>
        <locationX>226</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity_with_a_new_price_book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Pricebookselection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_pricebook_to_Accounts</name>
        <label>Get pricebook to Accounts</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_pricebooks_to_account</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpp.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpp.Account.Groupement__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpp.Account.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook_to_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_pricebook_to_Accounts2</name>
        <label>Get pricebook to Accounts</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_pricebooks_to_account2</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpp.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpp.Account.Groupement__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpp.Account.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Pricebook_to_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpp</name>
        <label>GetOpp</label>
        <locationX>226</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SOQL_Pricebook_record</name>
        <label>SOQL Pricebook record</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_to_pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_pricebooks_to_account.Price_Book__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SOQL_Pricebook_record2</name>
        <label>SOQL Pricebook record</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_to_pricebook2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_pricebooks_to_account2.Price_Book__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_with_a_new_price_book</name>
        <label>Update Opportunity with a new price book</label>
        <locationX>226</locationX>
        <locationY>1910</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>Pricebookselection</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>inform_to_delete_products</name>
        <label>inform to delete products</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Get_Opp_Line_Items</targetReference>
        </connector>
        <fields>
            <name>PriceBookChange</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;You have changed the price book for this opportunity. This action permanently deletes all products from the opportunity. Continue?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pricebook_selection</name>
        <label>Pricebook selection</label>
        <locationX>226</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Get_price_Book_record_selected</targetReference>
        </connector>
        <fields>
            <name>Pricebookselection</name>
            <choiceReferences>Collectionofpricebooks</choiceReferences>
            <choiceReferences>Standardpricebookchoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a Price Book</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpp</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varnewpricebook</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>varpricebookcoll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
</Flow>
