force-app/main/default/flows/Opportunity_Deep_clone_with_related_objects.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assign_line_items_to_collection</name>
        <label>assign line items to collection</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varnewlineitemcoll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varnewlineitem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_line_items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_team_values_to_collection</name>
        <label>Assign Opp team values to collection</label>
        <locationX>138</locationX>
        <locationY>3062</locationY>
        <assignmentItems>
            <assignToReference>varnewoppteamcoll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varnewoppteam</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Opp_team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_subrange_values_to_collection</name>
        <label>assign subrange values to collection</label>
        <locationX>138</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>varnewsubrangecoll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varnewsubrange</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_revenue_sub_range</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_to_contact_role</name>
        <label>Assign value to contact role</label>
        <locationX>138</locationX>
        <locationY>3974</locationY>
        <assignmentItems>
            <assignToReference>varnewcontactrole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_clone_Opp_records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewcontactrole.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_contact_role.Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewcontactrole.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_contact_role.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewcontactrole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_contact_role.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewcontactrole.IsPrimary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_contact_role.IsPrimary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_values_to_contact_role_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_to_opp_team</name>
        <label>Assign value to opp team</label>
        <locationX>138</locationX>
        <locationY>2942</locationY>
        <assignmentItems>
            <assignToReference>varnewoppteam.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_clone_Opp_records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewoppteam.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opp_team.TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewoppteam.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opp_team.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewoppteam.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Opp_team.OpportunityAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opp_team_values_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_to_revenue_sub_range</name>
        <label>Assign value to revenue sub range</label>
        <locationX>138</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>varnewsubrange.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_clone_Opp_records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewsubrange.BU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_revenue_sub_range.BU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewsubrange.Range2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_revenue_sub_range.Range2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewsubrange.Sub_Range2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_revenue_sub_range.Sub_Range2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewsubrange.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_revenue_sub_range.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewsubrange.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_revenue_sub_range.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_subrange_values_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_contact_role_collection</name>
        <label>Assign values to contact role collection</label>
        <locationX>138</locationX>
        <locationY>4094</locationY>
        <assignmentItems>
            <assignToReference>varnewcontactrolecoll</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varnewcontactrole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_contact_role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_opp_line_items</name>
        <label>Assign values to opp line items</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>varnewlineitem.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_clone_Opp_records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewlineitem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_line_items.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewlineitem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_line_items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewlineitem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_line_items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewlineitem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_line_items.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewlineitem.ProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_line_items.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewlineitem.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_line_items.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewlineitem.Current_Year_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_line_items.Current_Year_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varnewlineitem.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_line_items.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_line_items_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_contact_role_collection</name>
        <label>Empty contact role collection</label>
        <locationX>50</locationX>
        <locationY>4430</locationY>
        <assignmentItems>
            <assignToReference>varnewcontactrolecoll</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emptycontactrole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinishScreenFlow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_line_item_collection</name>
        <label>Empty line item collection</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>varnewlineitemcoll</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyLineItemscoll</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>has_revenue_sub_range</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_Opportunity_Team_Member</name>
        <label>Empty Opportunity Team Member</label>
        <locationX>50</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>varnewoppteamcoll</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyOppteamcollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_contact_role</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_Revenue_Sub_range_coll</name>
        <label>Empty Revenue Sub range coll</label>
        <locationX>50</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>varnewsubrangecoll</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyRevenueSubRangecollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Opportunity_Team</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_contact_role</name>
        <label>Has contact role</label>
        <locationX>182</locationX>
        <locationY>3614</locationY>
        <defaultConnector>
            <targetReference>FinishScreenFlow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yescontactrole</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Roles</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_roles</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Opportunity_Team</name>
        <label>Has Opportunity Team</label>
        <locationX>182</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>Has_contact_role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesOppTeam</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Team</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_opp_Team</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_products</name>
        <label>has products</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>has_revenue_sub_range</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Products</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Line_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_revenue_sub_range</name>
        <label>has revenue sub range</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Has_Opportunity_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SubrangeYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Revenue_Sub_Range_Details</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Revenue_Sub_range_detail</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Deep clone with related objects {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Deep clone with related objects</label>
    <loops>
        <name>Loop_through_contact_role</name>
        <label>Loop through contact role</label>
        <locationX>50</locationX>
        <locationY>3854</locationY>
        <collectionReference>Get_Contact_roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_value_to_contact_role</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_contact_roles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_line_items</name>
        <label>Loop through line items</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_values_to_opp_line_items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Line_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Opp_team</name>
        <label>Loop Through Opp team</label>
        <locationX>50</locationX>
        <locationY>2822</locationY>
        <collectionReference>Get_opp_Team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_value_to_opp_team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_opp_team_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_revenue_sub_range</name>
        <label>Loop through revenue sub range</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <collectionReference>Get_Revenue_Sub_range_detail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_value_to_revenue_sub_range</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_revenue_sub_range_revenue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_clone_Opp_records</name>
        <label>Create clone Opp records</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>has_products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetOpp.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cancelled_Reason__c</field>
            <value>
                <elementReference>GetOpp.Cancelled_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>GetOpp.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment_Reason__c</field>
            <value>
                <elementReference>GetOpp.Comment_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_Product__c</field>
            <value>
                <elementReference>GetOpp.Competitor_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_price__c</field>
            <value>
                <elementReference>GetOpp.Competitor_price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comptetitor_Name__c</field>
            <value>
                <elementReference>GetOpp.Comptetitor_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_duration__c</field>
            <value>
                <elementReference>GetOpp.Contract_duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>GetOpp.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_User_Coment__c</field>
            <value>
                <elementReference>GetOpp.End_User_Coment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Installation_Date__c</field>
            <value>
                <elementReference>GetOpp.Expected_Installation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GOS__c</field>
            <value>
                <elementReference>GetOpp.GOS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Indirect_End_User__c</field>
            <value>
                <elementReference>GetOpp.Indirect_End_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Type__c</field>
            <value>
                <elementReference>GetOpp.Invoice_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoicing_method__c</field>
            <value>
                <elementReference>GetOpp.Invoicing_method__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsCloned__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loss_Reason__c</field>
            <value>
                <elementReference>GetOpp.Loss_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Must_Win_Deal__c</field>
            <value>
                <elementReference>GetOpp.Must_Win_Deal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_competitor_product__c</field>
            <value>
                <elementReference>GetOpp.Other_competitor_product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>GetOpp.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability__c</field>
            <value>
                <elementReference>GetOpp.Probability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetOpp.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refurbished__c</field>
            <value>
                <elementReference>GetOpp.Refurbished__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Identification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>GetOpp.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_contact_roles</name>
        <label>Create contact roles</label>
        <locationX>50</locationX>
        <locationY>4310</locationY>
        <connector>
            <targetReference>Empty_contact_role_collection</targetReference>
        </connector>
        <inputReference>varnewcontactrolecoll</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Line_Item</name>
        <label>Create Line Item</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Empty_line_item_collection</targetReference>
        </connector>
        <inputReference>varnewlineitemcoll</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_opp_team_records</name>
        <label>Create New opp team records</label>
        <locationX>50</locationX>
        <locationY>3278</locationY>
        <connector>
            <targetReference>Empty_Opportunity_Team_Member</targetReference>
        </connector>
        <inputReference>varnewoppteamcoll</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_revenue_sub_range_revenue</name>
        <label>Create revenue sub range revenue</label>
        <locationX>50</locationX>
        <locationY>2246</locationY>
        <connector>
            <targetReference>Empty_Revenue_Sub_range_coll</targetReference>
        </connector>
        <inputReference>varnewsubrangecoll</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_roles</name>
        <label>Get Contact roles</label>
        <locationX>50</locationX>
        <locationY>3734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_contact_role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Line_Items</name>
        <label>Get Line Items</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_line_items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_opp_Team</name>
        <label>Get opp Team</label>
        <locationX>50</locationX>
        <locationY>2702</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Opp_team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Revenue_Sub_range_detail</name>
        <label>Get Revenue Sub range detail</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_revenue_sub_range</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Revenue_Sub_Range_detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpp</name>
        <label>GetOpp</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_clone_Opp_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Clone_selection</name>
        <label>Clone selection</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetOpp</targetReference>
        </connector>
        <fields>
            <name>Displaytextnewname</name>
            <fieldText>&lt;p&gt;Fill the New Opportunity Name&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewOppName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>GetOpp.Name</elementReference>
            </defaultValue>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Selection_display_text</name>
            <fieldText>&lt;p&gt;Select the related record(s) you want to clone with the new Opportunity&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Products</name>
            <dataType>Boolean</dataType>
            <fieldText>Products</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Revenue_Sub_Range_Details</name>
            <dataType>Boolean</dataType>
            <fieldText>Revenue Sub-Range Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Roles</name>
            <dataType>Boolean</dataType>
            <fieldText>Contact Roles</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Opportunity_Team</name>
            <dataType>Boolean</dataType>
            <fieldText>Opportunity Team</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FinishScreenFlow</name>
        <label>FinishScreenFlow</label>
        <locationX>182</locationX>
        <locationY>4646</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finish_Display_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Your Opportunity record with its related records has created.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;You can access to this new opportunity from Opportunity List View&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clone_selection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Emptycontactrole</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>EmptyLineItemscoll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>EmptyOppteamcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>EmptyRevenueSubRangecollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Revenue_Sub_Range_detail__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varnewcontactrole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>varnewcontactrolecoll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>varnewlineitem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varnewlineitemcoll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varnewoppteam</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>varnewoppteamcoll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityTeamMember</objectType>
    </variables>
    <variables>
        <name>varnewsubrange</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Revenue_Sub_Range_detail__c</objectType>
    </variables>
    <variables>
        <name>varnewsubrangecoll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Revenue_Sub_Range_detail__c</objectType>
    </variables>
</Flow>
