force-app/main/default/flows/Synchronize_Opp_Line_from_Quote_Line.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_it_Sync_Creation_or_Update_of_Current_Year_Quantity</name>
        <label>Is it Sync, Creation or Update of Current Year Quantity</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Quote_is_Not_Sync</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_sync_Update_of_Current_Year_Quantity</name>
            <conditionLogic>1 AND 3 AND (2 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsQuoteSync__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Year_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OpportunityLineItemId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Year_Quantity__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opp_Line_Item_record_noBypass</targetReference>
            </connector>
            <label>Yes sync, Update of Current Year Quantity</label>
        </rules>
        <rules>
            <name>Yes_sync_Create_of_Current_Year_Quantity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_Year_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsQuoteSync__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_line_item</targetReference>
            </connector>
            <label>Yes sync, Create of Current Year Quantity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_is_Not_Sync</name>
        <label>Quote is Not Sync</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <defaultConnectorLabel>The quote is sync do nothing</defaultConnectorLabel>
        <rules>
            <name>Quote_Not_Sync_and_Current_Year_Quantity_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsQuoteSync__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Current_Year_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_fieldwith_value_from_opp</targetReference>
            </connector>
            <label>Quote Not Sync and Current Year Quantity Null</label>
        </rules>
    </decisions>
    <description>Update 23/11/23 : ajout bypass de la nouvelle VR03_CannotEdit_SalesPrice</description>
    <environments>Default</environments>
    <interviewLabel>S {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Synchronize Opp Line from Quote Line</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_2_of_Update_Opp_Line_Item_record_Bypass</name>
        <label>Update Opp Line Item record Bypass</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Quote_is_Not_Sync</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityLineItemId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Bypass_VR03_CannotEdit_SalesPrice__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_VR03_CannotEdit_SalesPrice__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Year_Quantity__c</field>
            <value>
                <elementReference>$Record.Current_Year_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceDate</field>
            <value>
                <elementReference>$Record.ServiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>$Record.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_fieldwith_value_from_opp</name>
        <label>Update fieldwith value from opp</label>
        <locationX>182</locationX>
        <locationY>839</locationY>
        <inputAssignments>
            <field>Current_Year_Quantity__c</field>
            <value>
                <elementReference>$Record.OpportunityLineItem.Current_Year_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceDate</field>
            <value>
                <elementReference>$Record.OpportunityLineItem.ServiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>$Record.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opp_Line_Item_record_noBypass</name>
        <label>Update Opp Line Item record noBypass</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Copy_2_of_Update_Opp_Line_Item_record_Bypass</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityLineItemId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Bypass_VR03_CannotEdit_SalesPrice__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bypass_VR03_CannotEdit_SalesPrice__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_VR03_CannotEdit_SalesPrice__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Year_Quantity__c</field>
            <value>
                <elementReference>$Record.Current_Year_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceDate</field>
            <value>
                <elementReference>$Record.ServiceDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>$Record.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_line_item</name>
        <label>Update Quote line item</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Quote_is_Not_Sync</targetReference>
        </connector>
        <inputAssignments>
            <field>Current_Year_Quantity__c</field>
            <value>
                <elementReference>$Record.OpportunityLineItem.Current_Year_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_it_Sync_Creation_or_Update_of_Current_Year_Quantity</targetReference>
        </connector>
        <filterFormula>AND ( {!$User.Bypass_all_flow_trigger__c} = False , 
NOT INCLUDES({!$User.Bypass_Flow_Trigger__c}, &quot;Synchronize Opp Line from Quote Line&quot;))</filterFormula>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>500</triggerOrder>
</Flow>
